

.Work-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.work-title h1{
  justify-self: start;
  width: 90px;
  margin: 0 60px 0 0;
}

/*CAMBIOS AQUI PARA RESPONSIVE*/

.cards-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  row-gap: 40px;

}


