<div
  [ngClass]="{
    'small-screen': screenSizeService.screenSize === 'small',
    'medium-screen': screenSizeService.screenSize === 'medium',
    'large-screen': screenSizeService.screenSize === 'large'
  }"
>
  <div class="banner-container">
    <div class="title-container">
      <h1>¡Hi there!</h1>
      <h2>Do you want to know about me?</h2>
      <div class="icons">
        <a href="https://github.com/AdriaMartiComas" target="_blank">
          <button>
            <img src="assets/icons/github-logo_icon-icons.com_73546.png" alt="GitHub">
          </button>
        </a>

        <a href="https://www.linkedin.com/in/adria-marti-comas/" target="_blank">
          <button>
            <img src="assets/icons/linked-in-square-button_icon-icons.com_68389.png" alt="LinkedIn">
          </button>
        </a>


        <a href="assets/Adria_Marti_Comas_CV.pdf" target="_blank" title="Download cv">
          <button>
            <img src="assets/icons/resume_business_cv_work_job_curriculum_icon_175611.png" alt="Download CV">
          </button>
        </a>


      </div>
    </div>
    <div class="image-container">
      <img src="assets/Adri_light.jpeg" alt="Adria" />
    </div>
  </div>
</div>
