
/* .dialog-open {
  overflow: hidden;
} */

.project-modal {
  background-color: rgb(242 233 213);
  border: black 1px solid;
  border-radius: 10px;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 900px;
  overflow: auto;

}

.medium-screen.project-modal {
  width: 800px;
  height: fit-content;
}

.small-screen.project-modal {
  width: 350px;
  max-height: 700px;
  h1 {
    margin-bottom: 20px;

  }
}


h1 {
  color: #000000;
  margin: 25px 0 0 25px;
  text-align: center;
}

mat-dialog-content {
  padding-bottom: 0px !important;

}

.content {


  font-family: 'JetBrains Mono', monospace;
  color: #000000;


  display: flex;
  justify-content:

  space-between;
  width: 100%;

}


.small-screen.project-modal .content {


  flex-direction: column;
  align-items: center;
  justify-content: center;

  .description {
    padding-left: 11px;
  }
  .image {
    margin-top: 10px;
    min-height: 300px;
    .img {
      max-height: 200px;
    }
  }

}


p {

  margin-right: 40px;
  ;
}


 .image {
  margin-top: 10px;
  height: fit-content;
  min-height: 380px;

  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:

  space-between;
}

.slide-selector {
  display: flex;
  justify-content:

  space-between;
  width: 100%;
  padding: 0 20px;
}

img {
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.347);
}

.large-screen img {
  width: 400px;
  height: fit-content;
}

.medium-screen img {
  width: 400px;
  height: fit-content;
}

.small-screen img {
  width: 280px;
  height: fit-content;
  max-height: 200px;
}


.slide-selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;

  bottom: 0;
  border-top: #000000 1px solid;
  background-color: #f9f4e9;
}

button{
  font-weight: lighter;
  border-radius: 50px;
  padding: 5px 10px;
  background: none;
  border: none;
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.5s ease;
}

button:hover {
  border-radius: 50px;
  padding: 5px 10px;
  background-color: yellow;
}

.no-scroll {
  overflow: hidden;
}
