<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<div
  class="project-modal"
  [ngClass]="{
    'xsmall-screen': screenSizeService.screenSize === 'xsmall',
    'small-screen': screenSizeService.screenSize === 'small',
    'medium-screen': screenSizeService.screenSize === 'medium',
    'large-screen': screenSizeService.screenSize === 'large'
  }" >

<h2>{{ data.project.title }}</h2>
  <mat-dialog-content>
    <!-- <h1>{{ data.project.title }}</h1> -->
    <div class="content">
      <div class="description">
        <p>{{ data.project.description }}</p>
      </div>
      <div class="image">
        <img [src]="data.project.pictures[currentSlide]" alt="project pic" />
        <div class="slide-selector">
          <button (click)="prevSlide()"><--</button>
          <button (click)="nextSlide()">--></button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <a [href]="data.project.projectLink" target="_blank">
      <button>View code</button>
    </a>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
