<div class="header-wrapper">
  <app-header></app-header>
</div>
<div
  [ngClass]="{
    'xsmall-screen': screenSizeService.screenSize === 'xsmall',
    'small-screen': screenSizeService.screenSize === 'small',
    'medium-screen': screenSizeService.screenSize === 'medium',
    'large-screen': screenSizeService.screenSize === 'large'
  }"
>
  <div class="divider"></div>
  <app-banner></app-banner>
  <div id="about">
    <div class="divider">
      <div class="line"></div>
    </div>
    <app-about></app-about>
  </div>
  <div id="work">
    <div class="divider">
      <div class="line"></div>
    </div>
    <app-work></app-work>
  </div>
  <div id="contact">
    <div class="divider">
      <div class="line"></div>
    </div>
    <app-contact></app-contact>
  </div>
  <div class="divider">
    <div class="line"></div>
  </div>
  <app-footer></app-footer>

  <router-outlet />
</div>
