<div class="card">
  <!-- <div class="card-content"> -->
    <!-- <div class="image-content">
      <img src={{project.pictures[0]}} alt="Dice game" />
    </div> -->
    <div class="text-content">
      <h1>{{ project.title }}</h1>
      <p>{{ project.subtitle }}</p>
      <div class="btn">
        <button>View more</button>
        <button>View code</button>
      </div>
    </div>
    <div class="tags">
      @for (tag of project.tags; track tag) {
      <span class="tag" [style.backgroundColor]="tag.color">{{ tag }}</span>
      }
    </div>
  <!-- </div> -->
</div>
