@font-face {
  font-family: 'JetBrains Mono';
  src: url('/tipos/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

html {
  font-family: 'JetBrains Mono', monospace;
  background-color: rgba(206, 175, 96, 0.261);
  scroll-behavior: smooth;

}

body {
  margin: 0 auto;
  min-width:650px;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;

}

.cdk-global-scrollblock {
  position: static;
  width: 100%;
  /* overflow-y: scroll; */
}


.no-scroll {
  overflow: hidden;
}
