
html {
  /* font-family: 'JetBrains Mono', monospace; */
  font-family: 'Roboto Mono', ui-sans-serif;
  background-color: rgba(206, 175, 96, 0.261);
  scroll-behavior: smooth;

}

body {
  margin: 0 auto;
  min-width:650px;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
}

.cdk-global-scrollblock {
  position: static;
  width: 100%;
  /* overflow-y: scroll; */
}
/*
.no-scroll {
  overflow: hidden;
} */

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -.05em;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.05em;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: -.025em;
}

